@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* Colors  */

  --brownred: #9b3922;
  --black: #000000;
  --grey: #1e1e1e;
  --white: #ffffff;
  --red: #cb1b28;
  --green: #355e3b;

  /* Fonts */

  --font-primary: "Poppins", sans-serif;
  --font-header: "Mochiy Pop One", sans-serif;

  /* font-weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* Font-size */
  --font-size-small: 12px;
  --font-size-m-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-extralarge: 20px;
  --font-size-x-large: 24px;
  --font-size-xl-large: 32px;
  --font-size-2xl-large: 48px;
  --font-size-3xl-large: 54px;
  --font-logo: 60px;


  --section-margin : 3rem;
}

a{
  color: var(--white);
  text-decoration: none;
}


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* section{
  border: 2px solid white;
} */
/* CSS OF HTML STARTS HERE  */

body {
  font-family: var(--font-primary);
  color: var(--white);
  background-color: var(--black);
  margin: 0;
}

body.white-bg {
  color: var(--black);
  background-color: var(--white);
}

.Container {
  max-width: 1200px;
  margin: 4rem auto;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

/* Nav-Bar CSS */

.nav-bar ul li a {
  color: var(--white);
  text-decoration: none;
  letter-spacing: 0.5px;
  position: relative;
  padding: 0 5px;
}

.nav-bar ul li a::after {
  content: " ";
  position: absolute;
  width: 0;
  background-color: var(--brownred);
  height: 2px;
  bottom: -1px;
  left: 0;
  transition: ease-in 300ms ;
}

.nav-bar ul li a:hover:after {
  width: 100%;
}

.nav-bar ul li {
  padding: 5px;
}




/* Hover Effect */
.nav-bar ul li :hover {
  color: var(--brownred);
  /* font-weight: var(--font-medium); */
  /* border: 2px solid var(--brownred); */
  border-radius: 5px;
  /* transition: 0.5s ease-out; */

  cursor: pointer;
}

.footer-li:hover {
  color: var(--brownred);
  font-weight: var(--font-medium);
  cursor: pointer;
}
.logo {
  height: var(--font-logo);
  width: var(--font-logo);
}

.nav-section {
  /* border-bottom: 1px solid var(--greyll); */
  /* padding: 0px 60px; */
  align-items: center;
  top: 0.5rem;
  justify-content: center;
  gap: 35rem;
  
  position: relative; 
  /* width: 100%; */
  
}

.nav-section.scrolled {
  background-color: rgba(55, 51, 51, 0.8);
  /* rgba(34, 33, 33, 0.8) */
  border: transparent;
  position: fixed;
}


.nav-bar {
  gap: 100px;
} 

.mid-nav {
  gap: 35px;
  list-style: none;
}

.mid-nav li,
.right-nav li {
  font-family: var(--font-primary);
  font-weight: var(--font-medium);
  font-size: var(--font-size-medium);
}
.right-nav {
  list-style: none;
  padding: 0;
  background-color: var(--brownred);
 
  border-radius: 5px;
}

.right-nav:hover {
  background-color: var(--black);
  
  transform: scale(0.8);
  transition: ease-in 300ms;
}
/* Hero Section CSS */

.hero {
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 7rem;
}

p {
  margin: 0;
}

.span-subtitle {
  font-size: var(--font-size-medium);
  

}

.hero-p {
  font-size: var(--font-size-medium);
  letter-spacing: 1px;
  
  margin-top: 1rem;
}


.span-title {
  font-family: var(--font-header);
  color: var(--brownred);
  font-size: var(--font-logo);
  margin-bottom: 16px;
  display: inline;
}

#hero-btn {
  background-color: var(--brownred);
  border: none;
  border-radius: 5px;
  padding: 8px;
  color: var(--white);
  font-weight: var(--font-medium);
  font-size: var(--font-size-small);
  margin-top: 20px;
  
  letter-spacing: 1px;
  text-decoration: none;
  width: 25%;
}

#hero-btn-a{
  color: var(--white);
  text-decoration: none;
}

#hero-btn-a:hover {
  /* background-color: var(--white); */
  color: var(--black);
  
}

button:hover,

#project-btn:hover,
#hero-btn:hover {
  background-color: var(--white);
  color: var(--black);
  font-weight: var(--font-bold);
  transition: ease-in 400ms ;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 20px;
}

.right {
  width: 40%;
  align-content: center;
}



.right img {
  width: 100%;
  
  
}


/* About Css */

.About{
  background-color: var(--grey);
}

.aboutsection{
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-top: 1rem;
  /* height:350px ; */
}

.left-about {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding: 10px;
}

.right-about {
  align-content: center;
}
/*

.img-about {
  max-width: 100%; 
  height: auto; 
} */


/* Services Section CSS */

.services{
  margin-top: var(--section-margin);
  
}



.card {
  background-color: var(--grey);
  /* z-index: -5; */
  
  padding: 15px 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card2:hover{
  background-color: var(--brownred);
  transform: scale(0.9);
  transition: ease-in 300ms ;
}

.card1:hover, .card3:hover{
  background-color: var(--brownred);
  transform: scale(0.8);
  transition: ease-in 300ms ;
}

.card1, .card3{
  transform: scale(0.9);
}

.card:hover {
  
  cursor: pointer;
}

.servicecard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-items: center;
  margin-top: 2rem;
}

.span-card,
.p-card,
#btn-card {
  color: var(--white);
}

.span-card {
  font-weight: var(--font-bold);
  font-size: var(--font-size-medium);
  display: flex;
  justify-content: center;
}

.p-card {
  font-size: var(--font-size-small);
  text-align: center;
  height: 60px;
}

.card-body {
  margin-top: 24px;
  padding-bottom: 5px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.project-body {
  padding-bottom: 1rem;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

#btn-card {
  width: 100%;
  background-color: var(--brownred);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-weight: var(--font-medium);
  font-size: var(--font-size-small);
  letter-spacing: 1px;
}

#btn-card:hover{
  background-color: var(--white);
  color: var(--black);
  font-weight: var(--font-bold);
  cursor: pointer;
}

/* Skills section */

.skills {
  margin-top: var(--section-margin);

  align-items: center;
}

.skillscard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-items: center;
  margin-top: 2rem;
}

.skills-img {
  height: 3.5rem;
}

.scard{
  width: 30%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scard:hover {
  transform: scale(1.2);
  cursor: pointer;
}



.project:hover {
  transform: scale(0.9);
  cursor: pointer;
  background-color: var(--brownred);
  transition: ease-in 300ms ;
}

/* Projects Section */

.Projects {
  margin-top: var(--section-margin);


  align-items: center;
}

.projectcard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-items: center;

  margin-top: 2rem;
}

.div-project {
  display: flex;

  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.project {
  background-color: var(--grey);
  border-radius: 10px;
}

.project img {
  height: 150px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.span-projects {
  font-size: var(--font-size-medium);
  text-align: center;
}
.p-projects {
  text-align: center;
  font-size: var(--font-size-small);
}

#project-btn {
  background-color: var(--brownred);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-weight: var(--font-medium);
  font-size: var(--font-size-small);

  color: var(--white);
  width: 100%;
  letter-spacing: 1px;
}

/* Advertisment Section */

.advertisment{
  display: flex;
  justify-content: space-evenly;
  background-color: var(--brownred);
  align-items: center;
  gap: 10rem;
}

.ad-p{
  font-size: var(--font-size-extralarge);
  font-weight:  var(--font-bold);
  color: var(--white);
  width: 80%;


}

#ad-btn{
  color: var(--black);
  background-color: var(--white);
  padding: 8px 25px;
  border: none;
  border-radius: 2px;
}

/* contact section */

.contact-headp {
  text-align: center;
}

section{
  padding: 1rem;
}

input:focus-visible{
  border-color: #cb1b28;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
}

.Contact {
  margin-top: var(--section-margin);
  padding: 1rem;
}

.form-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-service{
  display: flex;
  justify-content: space-evenly;
  
}

label{
  font-size: var(--font-size-small);
}

input#check-input{
  width: auto;
  height: auto;
}


.form-details input{
  width: 100%;
  height: 25px;
  border: none;
  background-color: transparent;
  color: var(--white);
}



.form-details textarea {
  border: 1px dashed #f7f7f7;
  background-color: transparent;
  color: var(--white);
}

.form-details select {
  width: 50%;
  height: 30px;
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 5px;
}

select option{
  background-color: var(--black);
}

.form-btn {
  background-color: var(--brownred);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: var(--font-medium);
  font-size: var(--font-size-small);
  margin-top: 20px;
  color: var(--white);
  width: 100%;
  letter-spacing: 1px;
}

.contact-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.span-form {
  font-weight: var(--font-bold);
  font-size: var(--font-size-x-large);
}

.p-form {
  font-weight: var(--font-regular);
  font-size: var(--font-size-small);
}

/* FOOTER SECTION */

.footer {
  /* background-color: var(--grey); */

  margin-top: 2rem;
  border-top: 1px solid var(--white);
}

.footer-head {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  align-items: center;
}

.footer-ul {
  display: flex;
  gap: 50px;
  margin: 0px;
}

.footer-li {
  list-style: none;
}

.footer-icon {
  display: flex;
  gap: 20px;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}

em:hover, strong:hover{
  color: var(--brownred);
  cursor: pointer;
}

a.strong{
  text-decoration: none;
  color: var(--white);
}

a.strong:hover{
  
  color: var(--brownred);
}

/* Burger menu */


.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-menu::before{
  content: '';
  background-color: #9b3922;
}


.hamburger-menu .bar {
  height: 2px;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey);
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.mobile-nav a {
  color: var(--white);
  text-decoration: none;
  padding: 1rem;
  display: block;
}

@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }

  .hamburger-menu {
    display: flex;
   
    cursor: pointer;
  }

  .mobile-nav.active {
    display: flex;
    transition: ease-out 500ms;
  }
}


/* meida query */

@media only screen and (max-width: 600px) {

  /* nav-bar */

  #nav-desktop{
    display: none;
  }

  .hero {
    flex-direction: column;
    padding: 10px;
    /* margin: 0.5rem; */
  }
  .left {
    width: 100%;
    margin-bottom: 2rem;
  }

  .right {
    width: 100%;
  }

  /* services css */
  .servicecard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    padding: 2px;
  }

  .card {
    width: 80%;
  }

  /* media- About CSS */

  .aboutsection{
    flex-direction: column;
    gap: 1rem;
  }

  .left-about{
    width: 100%;
  }

  .hero-p{
    font-size: var(--font-size-small);
  }

  #hero-btn{
    padding: 4px;
    width: 30%;
    font-size: var(--font-size-small);
  }

  .img-about{
      width: 100%;
  }

  /* projects css */

  .projectcard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .project {
    width: 80%;
    
  }

  .span-subtitle{
    font-size: var(--font-size-m-small);
  }

  .span-title{
    font-size: var(--font-size-2xl-large);
  }

 

  .form-details{
    width: 100%;
    gap: 6px;
  }

  .contact-form{
    flex-direction: column;
  }

  hr{
    width: 100%;
    margin: 0;
  }

  .span-form, .p-form, hr{
    display: none;
  }


  /* footer responsive */

  .footer-head{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }



  .footer-title{
    display: none;
  }

  .grid-item[data-order="1"] {
    order: 1;
  }

  .grid-item[data-order="2"] {
    order: 3;
  }

  .grid-item[data-order="3"] {
    order: 2;
  }

  .footer-ul{
    gap: 10px;
  }

.advertisment{
  
    gap: 0;
}


}


