@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* Colors  */

  --brownred: #9b3922;
  --black: #000000;
  --grey: #1e1e1e;
  --white: #ffffff;
  --red: #cb1b28;
  --green: #355e3b;

  /* Fonts */

  --font-primary: "Poppins", sans-serif;
  --font-header: "Mochiy Pop One", sans-serif;

  /* font-weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* Font-size */
  --font-size-small: 12px;

  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-extralarge: 20px;
  --font-size-x-large: 24px;
  --font-size-xl-large: 32px;
  --font-size-2xl-large: 48px;
  --font-logo: 60px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section{
  border: 2px solid white;
}
/* CSS OF HTML STARTS HERE  */

body {
  font-family: var(--font-primary);
  color: var(--white);
  background-color: var(--black);
  margin: 0;
}

.Container {
  max-width: 1200px;
  margin: 4rem auto;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

/* Nav-Bar CSS */

.nav-bar ul li a {
  color: var(--white);
  text-decoration: none;
  letter-spacing: 0.5px;
  position: relative;
  padding: 0 5px;
}

.nav-bar ul li a::after {
  content: " ";
  position: absolute;
  width: 0;
  background-color: var(--brownred);
  height: 2px;
  bottom: -1px;
  left: 0;
  transition: 0.3s;
}

.nav-bar ul li a:hover:after {
  width: 100%;
}

.nav-bar ul li {
  padding: 5px;
}

/* Hover Effect */
.nav-bar ul li :hover {
  color: var(--brownred);
  /* font-weight: var(--font-medium); */
  /* border: 2px solid var(--brownred); */
  border-radius: 5px;
  /* transition: 0.5s ease-out; */

  cursor: pointer;
}

.footer-li:hover {
  color: var(--brownred);
  font-weight: var(--font-medium);
  cursor: pointer;
}
.logo {
  height: var(--font-logo);
  width: var(--font-logo);
}

.nav-section {
  /* border-bottom: 1px solid var(--grey); */
  /* padding: 0px 60px; */
  align-items: center;
  top: 0;
  
  /* position: fixed; */
  width: 100%;
}

.nav-section.scrolled {
  background-color: rgba(55, 51, 51, 0.8);
  border: transparent;
  position: fixed;
}



/* .nav-bar {
  gap: 100px;
} */

.mid-nav {
  gap: 35px;
  list-style: none;
}

.mid-nav li,
.right-nav li {
  font-family: var(--font-primary);
  font-weight: var(--font-medium);
  font-size: var(--font-size-medium);
}
.right-nav {
  list-style: none;
}

/* Hero Section CSS */

.hero {
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 7rem;
}

p {
  margin: 0;
}

.span-subtitle {
  font-size: var(--font-size-medium);
  

}

.hero-p {
  font-size: var(--font-size-medium);
  letter-spacing: 1px;
  
  margin-top: 1rem;
}


.span-title {
  font-family: var(--font-header);
  color: var(--brownred);
  font-size: var(--font-size-2xl-large);
  margin-bottom: 16px;
  display: inline;
}

#hero-btn {
  background-color: var(--brownred);
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-weight: var(--font-medium);
  font-size: var(--font-size-small);
  margin-top: 20px;
  color: var(--white);
  letter-spacing: 1px;
  text-decoration: none;
  width: 25%;
}

#hero-btn-a{
  color: var(--black);
  text-decoration: none;
}

button:hover,
#project-btn:hover,
#hero-btn:hover {
  background-color: var(--white);
  color: var(--black);
  font-weight: var(--font-bold);
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 20px;
}

.right {
  width: 40%;
  align-content: center;
}



.right img {
  width: 100%;
  
  
}


/* About Css */

.aboutsection{
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-top: 1rem;
  /* height:350px ; */
}

.left-about {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding: 10px;
}

.right-about {
  align-content: center;
}
/*

.img-about {
  max-width: 100%; 
  height: auto; 
} */


/* Services Section CSS */

.services{
  margin-top: 5rem;
}

.card {
  background-color: var(--grey);
  z-index: -5;
  
  padding: 15px 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicecard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-items: center;
  margin-top: 2rem;
}

.span-card,
.p-card,
.btn-card {
  color: var(--white);
}

.span-card {
  font-weight: var(--font-bold);
  font-size: var(--font-size-medium);
  display: flex;
  justify-content: center;
}

.p-card {
  font-size: var(--font-size-small);
  text-align: center;
  height: 60px;
}

.card-body {
  margin-top: 24px;
  padding-bottom: 5px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.project-body {
  padding-bottom: 1rem;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.btn-card {
  width: 100%;
  background-color: var(--brownred);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-weight: var(--font-medium);
  font-size: var(--font-size-small);
  letter-spacing: 1px;
}

/* Skills section */

.skills {
  margin-top: 7rem;

  align-items: center;
}

.skillscard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-items: center;
  margin-top: 1rem;
}

.skills-img {
  height: 3.5rem;
}

.scard{
  width: 30%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scard:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.card1, .card3{
  transform: scale(0.9);
}

.card:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.project:hover {
  transform: scale(0.9);
  cursor: pointer;
}

/* Projects Section */

.Projects {
  margin-top: 7rem;


  align-items: center;
}

.projectcard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.25rem;
  justify-items: center;

  margin-top: 2rem;
}

.div-project {
  display: flex;

  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.project {
  background-color: var(--grey);
  border-radius: 10px;
}

.project img {
  height: 150px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.span-projects {
  font-size: var(--font-size-medium);
  text-align: center;
}
.p-projects {
  text-align: center;
  font-size: var(--font-size-small);
}

#project-btn {
  background-color: var(--brownred);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-weight: var(--font-medium);
  font-size: var(--font-size-small);

  color: var(--white);
  width: 100%;
  letter-spacing: 1px;
}

/* contact section */

.contact-headp {
  text-align: center;
}

section{
  padding: 1rem;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.Contact {
  margin-top: 7rem;
  padding: 1rem;
}

.form-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-details input {
  width: 100%;
  height: 25px;
  border: none;
}

.form-details select {
  width: 50%;
  height: 25px;
}

.form-btn {
  background-color: var(--brownred);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: var(--font-medium);
  font-size: var(--font-size-small);
  margin-top: 20px;
  color: var(--white);
  width: 100%;
  letter-spacing: 1px;
}

.contact-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.span-form {
  font-weight: var(--font-bold);
  font-size: var(--font-size-x-large);
}

.p-form {
  font-weight: var(--font-regular);
  font-size: var(--font-size-small);
}

/* FOOTER SECTION */

.footer {
  /* background-color: var(--grey); */

  margin-top: 2rem;
  border-top: 1px solid var(--white);
}

.footer-head {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.footer-ul {
  display: flex;
  gap: 50px;
  margin: 0px;
}

.footer-li {
  list-style: none;
}

.footer-icon {
  display: flex;
  gap: 10px;
}

em:hover, strong:hover{
  color: var(--brownred);
  cursor: pointer;
}

a.strong{
  text-decoration: none;
  color: var(--white);
}

a.strong:hover{
  
  color: var(--brownred);
}

@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
    margin: 0.5rem;
  }
  .left {
    width: 100%;
    margin-bottom: 2rem;
  }

  .right {
    width: 100%;
  }

  .servicecard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    padding: 2px;
  }

  .card {
    width: 80%;
  }

  .projectcard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .project {
    width: 80%;
    
  }

  .form-details{
    width: 100%;
    gap: 6px;
  }

  .contact-form{
    flex-direction: column;
  }

  hr{
    width: 100%;
    margin-top: 1rem;
  }

  .span-form, .p-form, hr{
    display: none;
  }


}
